<div class="container">
    <app-header></app-header>

    <div class="apresentation">
        <div class="my-name">Olá, eu sou Pedro Vieira</div>
        <div class="my-description">Desenvolvedor Web</div>
        <div class="apresentation-buttons">
            <button class="contact-btn">Entre em contato</button>
            <button class="projects-btn">Ver projetos</button>
        </div>
    </div>

    <div class="about-me">
        <div class="photo">
            
        </div>
        <div class="about">
            <h1>Sobre mim</h1>
            <p>
                Sou Pedro Vieira, graduando em Ciência da Computação e desenvolvedor web apaixonado por tecnologia.
                Desde que comecei minha jornada na programação, sempre tive curiosidade em entender como as coisas funcionam por trás das telas,
                o que me levou a explorar o desenvolvimento de aplicações modernas e dinâmicas.<br><br>
                Estou sempre buscando aprimorar minhas habilidades e aprender novas tecnologias para criar soluções eficientes e intuitivas.
                Meu foco é desenvolver experiências que realmente agreguem valor aos usuários, combinando funcionalidade e design.
                Gosto de desafios e estou sempre aberto a novas oportunidades para crescer profissionalmente.
            </p>
            <button class="resume-btn">Meu currículo</button>
        </div>
    </div>

    <div class="my-projects">
        <div class="section-title">Meus Projetos</div>
        <div class="projects-container">
            <div class="projects-wrapper" *ngFor="let project of projects">
                <app-project-card [project]="project"></app-project-card>
            </div>
        </div>
    </div>
</div>
