.container {
    display: flex;
    flex-direction: column;

    .apresentation {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 200px;
        border-bottom: solid #ccc 1px;

        .my-name {
            display: flex;
            justify-content: center;
            font-size: 60px;
            font-weight: bold;
        }

        .my-description {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: var(--description-color);
        }

        .apresentation-buttons {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 20px;

            .contact-btn {
                border: 0;
                background-color: #000000;
                color: #FFFFFF;

                &:hover {
                    background-color: #404040;
                }
            }

            .projects-btn {
                border: solid #ddd 1px;
                background-color: #FFFFFF;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .about-me {
        display: flex;
        width: 100%;
        padding: 100px;
        justify-content: center;
        gap: 200px;

        .photo {
            width: 400px;
            height: 400px;
            background-color: #ddd;
        }

        .about {
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 400px;
            gap: 20px;
            justify-content: center;

            h1 {
                font-size: 32px;
            }

            p {
                color: var(--description-color);
            }

            .resume-btn {
                width: fit-content;
                border: 0;
                background-color: #000000;
                color: #FFFFFF;

                &:hover {
                    background-color: #404040;
                }
            }
        }
    }

    .my-projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-title {
            display: flex;
            font-size: 32px;
            font-weight: bold;
            justify-content: center;
        }

        .projects-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            gap: 40px;
            padding: 40px;
            max-width: 1200px; // impede que o grid fique esticado demais
            margin: 0 auto; // centraliza

            .project-wrapper {
                width: 500px;
                height: 500px;
            }
        }
    }
}