/* You can add global styles to this file, and also import other style files */

:root {
    margin: 0;

    // Color variables:
    --title-color: #FFFFFF;
    --description-color: #757575;
    
    // Fonts:
    font-family: 'Rubik';

    button {
        padding: 10px;
        height: 40px;
        border-radius: 10px;
        font-family: 'Rubik';
        cursor: pointer;
        transition: background-color, color 0.3s ease;
    }
}